{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="Conduit is a simple, fast and reliable
    chat server powered by Matrix. Conduit is an alternative to Synapse and
    tries to be lightweight and easy to install, but it is still in development.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "_variables.html" %}
    <link rel="icon" href="/conduit.svg">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <h1 class="main-heading-text" style="font-size: 50px">
                Host your own chat server
            </h1>
            <h2 class="main-title-text">
                <b>Conduit</b> is a <b>simple</b>, <b>fast</b> and
                <b>reliable</b> chat server powered by
                <a href="https://matrix.org">
                    <img style="vertical-align: middle" src="https://matrix.org/images/matrix-logo-white.svg" alt="matrix"></img>
                </a>
            </h2>
        </section>
        <img class="hero-image" style="width: 50%; height: 50vh" src="{{
        get_url(path="conduit.svg") }}" alt="lightning bolt logo">

        <div class="explore-more main-text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Learn More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
    </div>

    {% endblock header %}

    <main>
        {% block toc %}
        <div class="toc">
            <div class="toc-sticky">
                {% if section.toc %}
                {% set toc = section.toc %}
                {% elif page.toc %}
                {% set toc = page.toc %}
                {% endif %}
                {% if toc %}
                {% for h in toc %}
                <div class="toc-item">
                    <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                </div>
                {% if h.children %}
                {% for h2 in h.children %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endblock toc %}

        <div id="features" class="content text">
            {% block content %}
            {{ section.content | safe }}
            {% endblock content %}
        </div>

    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            Timo Kösters © 2022 <a href="https://famedly.com/impressum">Impressum</a> <a href="https://famedly.com/terms/datenschutz">Datenschutz</a>
        </small>
    </footer>
    {% endblock footer %}
</body>

</html>
